@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,700,300&subset=latin,cyrillic);

html, body {
	font-size:12px; 
	line-height:18px;
	height: 100%;
	font-family: 'Roboto Condensed', sans-serif;
 }
body {background: #f9f9f9 url(../img/page-bg-1.jpg);}

.main-container {
	height:auto; 
	height: 100%;
	min-height: 100%;
}

@media (max-width: 767px) {
  body { padding-right: 0px; padding-left: 0px; }
  .container {margin-right: 20px; margin-left: 20px;}
 }

/***** Titles and Headings *****/
h1, h2, h3, h4 , h5, h6 {
	font-family: 'Roboto Condensed', sans-serif; 
	font-weight: normal;
	text-transform:uppercase; 
}	
h1, h2, h3, h4, h5 {text-shadow: 1px 1px 0 #fdfdfd, 2px 2px 0 rgba(81, 81, 81, 0.5), 0 0 1px #fdfdfd;}
h1.title-bg, h2.title-bg, h3.title-bg, h4.title-bg , h5.title-bg, h6.title-bg {
	background:#f8f8f8; 
	padding:10px 5px;
	margin: 0px 0px 20px 0px;
	border-bottom: 1px dotted #a9a9a9;
	border-top: 1px dotted #a9a9a9;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {color:#7f7f7f;}
h2 small {font-size: 30px;}
h5 small {font-size: 14px;}
h6 small {font-size: 12px;}

h5.title-bg button {
	float: right; 
	text-transform: none;
	margin-left:5px;
}

/***** Links *****/
a, a:hover { color:#d8450b; }

/***** Misc *****/
i {margin-right: 3px;}
p {margin-bottom: 20px;}
blockquote {
	font-size:16px; 
	line-height:24px; 
	font-family:Georgia, "Times New Roman", Times, serif; 
	font-style:italic;
	border-left: 5px solid #999;
}
blockquote.pull-right {border-right: 5px solid #999;}


/**************************************
/ Header
**************************************/
.logo { margin-top:120px; }
.logo img { padding-right:20px; }
.logo h5 { display: inline-block; }
.headline { margin-bottom:20px; }

/* Landscape phones and down */
@media (max-width: 480px) {
	.logo, .navigation {text-align: center;}
	.row.header {margin-bottom: 30px;}
	.logo h5 {display: block;}
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1199px) {
	.headline .lead {display: none;}
}

.navigation { margin-top:110px; text-align: right;}
.navigation .navbar { 
	background:#f8f8f8;
	border-bottom: 1px dotted #a9a9a9;
	border-top: 1px dotted #a9a9a9;
}
.navbar .nav > li > a { 
	font-family: 'Roboto Condensed', sans-serif; 
	font-weight: normal;
	text-shadow: none; 
	text-transform:uppercase; 
	font-size:12px; 
	padding: 10px 15px 10px 40px;
}

/* Portrait tablet */
@media (min-width: 768px) and (max-width: 979px) {
	.navbar .nav > li > a {padding: 10px 10px 10px;}
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
	color:#FFF; 
	background-color:#d8450b;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;  
	height: 49px;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  	color:#FFF; 
	background-color:#d8450b;
}

ul.nav li.dropdown:hover ul.dropdown-menu{ display: block; }
.dropdown-menu{
	font-family: 'Roboto Condensed', sans-serif; 
	font-weight: normal;
	text-transform:uppercase; 
	font-size:12px;
	padding: 0px;
	margin: 0px;
	background-color: #383838;
	border: none;
	*border-right-width: none;
	*border-bottom-width: none;
	-webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
	-webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
	-webkit-background-clip: none;
     -moz-background-clip: none;
          background-clip: none;
}
.navbar .nav > li > .dropdown-menu:before {
  border-right: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-bottom-color: none;
}
.dropdown-menu a {
	color: #ababab; 
	border-bottom:1px solid #474747;
	padding: 10px 10px;
	margin:0px 10px;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #f9f9f9;
  text-decoration: none;
  background-color: #383838;
  background-image: none;
  filter: none;
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.navbar .nav > li > .dropdown-menu:before,
.navbar .nav > li > .dropdown-menu:after {
  display: none;
}


/**************************************
/ Slider
**************************************/
.carousel-caption h4 { font-size: 14px; text-shadow:none; }
.carousel-caption {background: url(../img/post-item-hover.png);}
.carousel-control {border: none; top: 177px;}


/**************************************
/ Gallery
**************************************/
.gallery-title { margin-bottom:15px; }
.gallery-item { margin-bottom:15px; margin-top:15px; }

.gallery-hover-6col,
.gallery-hover-4col,
.gallery-hover-3col,
.gallery-hover-4col-cir { 
	display:none; 
	background:url(../img/gallery-item-hover.png);
	position:absolute; 
	z-index: 10;
}
.gallery-hover-4col-cir{
	-webkit-border-radius: 500px;
     -moz-border-radius: 500px;
          border-radius: 500px;
}

/* Large Desktop Size */
@media (min-width: 1200px) {
	.gallery-post-grid {margin-left:-40px;}
	.gallery-hover-6col {width:170px; height:139px;}
	.gallery-hover-4col {width:270px; height:220px;}
	.gallery-hover-3col {width:370px; height:300px;}
	.gallery-hover-4col-cir {width:270px; height:270px;}
	.gallery-hover-4col-cir .gallery-icons {top: 45%; left:34%;}
	img.gallery-image {width:270px; height:220px;}
	.input-append input {width: 80%; outline:none;}
	.input-append button {width: 20%; margin-top: 0px; outline:none;}
}

/* Small Desktop Size */
@media (min-width: 980px) and (max-width: 1199px) {
	.row {margin-left: 0px;}
	.gallery-post-grid {margin-left:-40px;}
	.gallery-post-grid li {width: 238px;}
	.gallery-hover-6col {width:140px; height:114px;}
	.gallery-hover-4col {width:220px; height:180px;}
	.gallery-hover-3col {width:300px; height:243px;}
	.gallery-hover-4col-cir {width:220px; height:220px;}
	.gallery-hover-4col-cir .gallery-icons {top: 42%; left:29%;}
	img.gallery-image {width:220px; height:180px; margin-right: 10px;}
	.input-append input {width: 90%; outline:none;}
	.input-append button {width: 10%; margin-top: 0px; outline:none;}
	
	/* Clip descriptions */
	li.span4 .project-details {
	    -o-text-overflow: ellipsis;
	    text-overflow:    ellipsis;
	    overflow:hidden;
	    white-space:nowrap;
	    width: 280px;
	}
	li.span3 .project-details {
	    -o-text-overflow: ellipsis;
	    text-overflow:    ellipsis;
	    overflow:hidden;
	    white-space:nowrap;
	    width: 220px;
	}
	li.span2 .project-details {
	    -o-text-overflow: ellipsis;
	    text-overflow:    ellipsis;
	    overflow:hidden;
	    white-space:nowrap;
	    width: 120px;
	}
}

/* Portrait tablet to landscape */
@media (min-width: 768px) and (max-width: 979px) {
	img.gallery-image {width:146px; height:170px; margin-right: 10px;}
	.gallery-post-grid {margin-left:-25px;}
	.input-append input {width: 75%; outline:none;}
	.input-append button {width: 25%; margin-top: 0px; outline:none;}
	
	/* Clip descriptions */
	li.span2 .project-details {display:none;}
	li.span3 .project-details {
	    -o-text-overflow: ellipsis;
	    text-overflow:    ellipsis;
	    overflow:hidden;
	    white-space:nowrap;
	    width: 146px;
	}
	li.span4 .project-details {
	    -o-text-overflow: ellipsis;
	    text-overflow:    ellipsis;
	    overflow:hidden;
	    white-space:nowrap;
	    width: 208px;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	.input-append input {width: 80%; outline:none;}
	.input-append button {width: 20%; margin-top: 19px; outline:none;}
	.project-details {width: 250px; text-align: center}
	.gallery-post-grid {text-align: center; margin-left: -60px;}
	.project-details {margin-left:auto; margin-right: auto;}
	.gallery {text-align: center; }
	.gallery-cats { display: none;}
	li.span2 .project-details {
	    -o-text-overflow: ellipsis;
	    text-overflow:    ellipsis;
	    overflow:hidden;
	    white-space:nowrap;
	    width: 150px;
		}
	.project-details {width: 270px;}
	img.gallery-image {width:270px; height:220px;}
	#fap-wrapper {
	width: 100%;
	max-width: 100%;
	position: fixed;
	left: 0;
	z-index: 100000;
	font-size: 10px;
	font-family: Helvetica, sans-serif;
}
}
/* Mobile Landscape Size */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.input-append input {width: 80%; outline:none;}
	.input-append button {width: 20%; margin-top: 19px; outline:none;}
	li.span4 .project-details {width:270px;}
	img.gallery-image {width:270px; height:220px;}
	.gallery-post-grid {margin-left:-40px;}
	.project-details {width: 270px;}
	.gallery-post-grid li {list-style: none; float: left; margin-bottom: 30px; width: 320px;}
}
/* Mobile Portrait Size */
@media only screen and (max-width: 479px) {
	li.span4 .project-details {width:260px;}
}

.project-details {
	background:#f8f8f8;
	display: block;
	padding:10px;
	border-bottom: 1px dotted #a9a9a9;
	font-family: 'Roboto Condensed', sans-serif;
	font-style: italic;

	width: auto\9;
    height: auto;
    max-width: 100%;
}
.project-details a {
	margin: 0px; 
	font-size: 12px; 
	font-style: normal;
	text-shadow:none;
	display: block;
	font-family: 'Roboto Condensed', sans-serif; 
	font-weight: normal;
	text-transform:uppercase; 
}
.project-details {color: #6f6f6f;}
.project-details a {color: #333333;}
.project-details a:hover {color:#d8450b; text-decoration: none;}

.project-info {margin: 0px 0px 40px 0px;}
.project-info li { 
	list-style: none; 
	border-bottom: 1px dashed #a9a9a9;;
	padding: 10px; }
.project-info li h6 {display: inline; margin-right: 5px;}

.gallery-icons {
	z-index: 9;
	position:absolute;
	bottom: 0px; 
	right: 0px;
	width: 89px;
	height: 42px;
	display: block;
}
a.item-zoom-link { 
	height: 42px;
	width: 42px;
	background: #ffffff url(../img/gallery-item-icons.png) no-repeat;
	background-position: 0px 0px;
	position:absolute;
	display: block;
}
a.item-details-link { 
	height: 42px;
	width: 42px;
	background: #ffffff url(../img/gallery-item-icons.png) no-repeat;
	background-position: -42px 0px;
	position:absolute; 
	left: 47px;
	display: block;
}
a.item-zoom-link:hover {background: #d8450b url(../img/gallery-item-icons.png) no-repeat;}
a.item-details-link:hover {background: #d8450b url(../img/gallery-item-icons.png) no-repeat; background-position: -42px 0px;}

.gallery-post-grid li {list-style: none; float: left; margin-bottom: 30px;}

.gallery-cats {margin: 0px 0px 20px 0px;}
.gallery-cats li{
	list-style: none; 
	float: left; 
	padding: 0px 10px;
	border-left: 1px dotted #a9a9a9;
}
.gallery-cats li:first-child{border-left:0px;}
	
	
/**************************************
/ Blog
**************************************/
/*** Blog on Home Page ***/
.blog-summary {line-height: 18px;}
.post-info-shade { background:#f8f8f8; }
.post-info { line-height:20px; padding-top:10px; }
.post-info h4 {line-height: 26px; margin-top: 0px;}
.post-info h4 a, .post-info h4 a:hover {color:#333; text-decoration: none;}
.post-info ul li {list-style: none; padding-bottom: 2px; margin: 0px;}
.post-preview {line-height: 20px;}

/* All Sizes up to Large Desktop */
@media only screen and (max-width: 1199px) {
	.post-info h4 {clear:both;}
	.blog-details-preview {display: none; border:1px solid #000;}
}

/*** Blog List Page ***/
.blog article,
.blog section {margin-bottom: 40px;}
.blog article h3 {margin-top: 0px;}
.blog article h3 a, .blog article h4 a,
.blog article h3 a:hover, .blog article h4 a:hover {color:#333333; text-decoration: none;}
.blog h4 {line-height: 26px;}

/* Mobile Landscape Size */
@media only screen and (max-width: 479px) {
	.blog h4 {width:260px;}
}

.post-summary {background: #f8f8f8; padding-bottom: 20px; overflow: auto;}
.post-summary p {padding:20px; margin:0px;}
.post-summary-footer {margin: 0px; padding:0px 20px;}
.post-summary-footer button {margin: 0px; float:left;}
ul.post-data {float:right;}
ul.post-data-3 {margin-top:20px;}
ul.post-data li, ul.post-data-3 li {
	list-style: none; 
	float: left; 
	padding: 0px 10px;
	border-left: 1px dotted #a9a9a9;
}
ul.post-data li:first-child,
ul.post-data-3 li:first-child {border: none; padding-left: 0px;}
ul.post-data li:last-child {padding-right: 0px;}

/* Small Desktop Size */
@media (min-width: 980px) and (max-width: 1199px) {
	ul.post-data-3 li:last-child {display: none;}
}

/* Portrait tablet */
@media (min-width: 768px) and (max-width: 979px) {
	.post-summary-footer button {float: none; margin-bottom: 20px;}
	.blog article button {float: left; clear: both; margin-bottom: 20px;}
	ul.post-data-3 {display: none;}
	ul.post-data {float: none; clear: both; margin: 0px;}
	ul.post-data li:last-child {
		-o-text-overflow: ellipsis;
	    text-overflow:    ellipsis;
	    overflow:hidden;
	    white-space:nowrap;
	    width: 120px;
	}
}

.blog-style-2 h4 {margin-top:0px; margin-bottom: 10px;}
.blog-style-2 ul.post-data {margin:0px 0px 20px 0px;}
.blog-style-2 ul.post-data li {
	float: none; 
	margin:0px; 
	padding: 5px 0px 0px 0px;
	border: none;
}
.blog-post-grid {margin:0px;}
.blog-post-grid li {list-style: none; float: left; margin-bottom: 30px;}
.blog-post-hover { 
	display:none; 
	width:270px; height:220px;
	background:url(../img/post-item-hover.png);
	position:absolute; 
	z-index: 10;
}
.blog-post-hover p{
	color: #f8f8f8;
	padding:20px;
	font-family: 'Roboto Condensed', sans-serif; 
	font-style: italic;
}
.blog-post-hover a{
	font-family: 'Roboto Condensed', sans-serif; 
	font-weight: normal;
	text-transform:uppercase; 
	font-size: 28px;
	line-height: 32px;
	font-style: normal;
	color: #f8f8f8;
}
.blog-post-hover a:hover{ text-decoration: none; color: #d8450b;}

@media (min-width: 768px) and (max-width: 1199px) {
	.blog-post-hover {width:220px; height:179px;}
	.blog-post-hover a{ font-size: 20px; line-height: 24px;}
	}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
	.post-summary-footer{display: none;}
	.post-summary{padding-bottom: 0px;}
	.blog-style-2 {display: none;}
}

/*** Blog Full Page ***/
.post-content {background: #f8f8f8; overflow: auto;}
.post-body {padding: 20px;}
.about-author img {float: left; margin-right: 20px;}

/*** Comments ***/
.comments ul {margin:0px;}
.comments ul li {
	list-style: none;
	padding: 20px;
	background: #f8f8f8;
	margin-bottom: 40px;
	border-bottom: 1px dotted #a9a9a9;
	border-top: 1px dotted #a9a9a9;
}
.comments ul li ul {margin-left:40px; padding-top: 20px;}
.comments ul li ul li {
	border-top: 1px dotted #a9a9a9;
	border-bottom: none;
	padding: 20px 20px;
	margin-bottom:0px;
}
.comments ul li ul li:last-child {padding-bottom: 0px;}

.comments ul li img {margin:0px 10px 10px 0px;}
.comment-name {
	font-family: 'Roboto Condensed', sans-serif; 
	font-weight: normal;
	text-transform:uppercase; 
}
.comment-date {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	clear: both;
}
.comment-content { clear:both; padding-top:10px; }
.comment-form-container input,
#contact-form input {margin-bottom: 12px;}
.comment-form-container textarea,
#contact-form textarea {height: 150px;}
.comment-form-container .btn,
#contact-form .btn {margin-top: 12px;}


/**************************************
/ Sidebar
**************************************/
.sidebar input{width: 80%;}
.sidebar h5 {margin-top: 40px;}
.sidebar ul.post-category-list,
.sidebar .tab-content .tab-pane ul {margin:0px;}
.sidebar ul.post-category-list li,
.sidebar .tab-content .tab-pane ul li {
	list-style: none; 
	border-bottom: 1px dashed #a9a9a9;
	padding:10px 5px;
}
.sidebar ul.post-category-list li a{
	font-family: 'Roboto Condensed', sans-serif; 
	font-weight: normal;
	text-transform:uppercase; 
}
.sidebar ul.post-category-list li:first-child,
.sidebar .tab-content .tab-pane ul li:first-child{ padding-top: 0px; }
.sidebar ul.post-category-list li:last-child { padding-bottom: 0px; border-bottom:none; }
.sidebar ul.post-category-list li i {padding-right: 5px; background-position: 0 -95px;}
.sidebar .tab-content .tab-pane ul li i {padding-right: 5px;}

.popular-posts{ margin: 0px;}
.popular-posts li {
	list-style: none; 
	margin-bottom: 20px; 
	clear: both;
	display: block;
	min-height: 70px;
}
.popular-posts li a, 
.popular-posts li a:hover {color:#333333; text-decoration: none;}
.popular-posts li img {float: left; margin-right: 20px;}
.popular-posts li em {font-family:Georgia, "Times New Roman", Times, serif;}
p.side {margin-bottom: 20px;}

/* Mobile Portrait and Landscape Size */
@media only screen and (max-width: 479px) {
	iframe {width:270px;}
}
/* Tablet */
@media (min-width: 768px) and (max-width: 979px) {
	iframe {width:230px;}
}
/* Small Desktop Size */
@media (min-width: 980px) and (max-width: 1199px) {
	iframe {width:300px;}
}


/**************************************
/ Footer
**************************************/
.footer-container {
	width:100%;
	background:#333;
	clear: both;
 	position: relative;
 	z-index: 10;
}
.footer-row { margin-top: 30px;}
.footer-col {color:#ababab; font-size: 12px; text-transform: uppercase;}
.footer-col a {color:#dcdcdc; font-size: 12px; text-decoration: underline; text-transform: uppercase;}
.footer-col a:hover {color:#d8450b; text-decoration: none;}
.footer-col h5, .footer-col strong {color:#f9f9f9; text-shadow:none;}
.footer-col h5 {margin-bottom: 25px;}
.footer-col ul {margin: 0px; left: -40px; position: relative;}
.footer-col ul li {list-style: none; padding-bottom: 20px;}
.footer-col ul.post-list li {
	border-bottom: 1px dashed #504f4f;
	padding: 10px 0px;
}
/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
	.footer-col {
		clear:both;
		overflow: hidden;
		margin-bottom: 20px;
	}
	.footer-sub .right {display: none;}
}
ul.img-feed li {
	float: left; 
	margin: 0px 7px 7px 0px; 
	padding-bottom: 0px;
}

/* Portrait tablet */
@media (min-width: 768px) and (max-width: 979px) {
	ul.img-feed li:nth-last-child(-n+4) {display: none;}
}

/**** Social Icons ****/
.social-icons {padding-top: 0px;}
.social-icons li {
	list-style: none; 
	float: left;
	margin-right: 6px;
}
/* Small Monitor */
@media (min-width: 980px) and (max-width: 1199px) {
	.social-icons li:last-child {display:none;}
}
a.social-icon { 
	background: url(../img/social-icons.png);
	display: block; 
	width: 46px; 
	height: 46px;
}
a.facebook {background-position: 0px 0px;}
a.facebook:hover {background-position: 0px -47px;}
a.twitter{background-position: -52px 0px;}
a.twitter:hover {background-position: -52px -47px;}
a.dribble{background-position: -104px 0px;}
a.dribble:hover {background-position: -104px -47px;}
a.rss{background-position: -156px 0px;}
a.rss:hover {background-position: -156px -47px;}
a.forrst{background-position: -208px 0px;}
a.forrst:hover {background-position: -208px -47px;}

/**** Sub Footer ****/
.footer-sub {background: #1f1f1f; padding: 10px 0px;}
.footer-sub div div span {padding: 0px 20px;}


/**************************************
/ MISC
**************************************/
.row {margin-bottom:40px;}
.sub-row30 {margin-bottom:30px;}
.sub-row20 {margin-bottom:20px;}
.no-margin {margin-bottom:0px;}

a.accordion-toggle{background: #f5f5f5;}
.nav-tabs li.active a{background:#f8f8f8;}

@media only screen and  (max-width: 767px) {
	.btn {margin-bottom: 20px;}
}

.left {float: left;}
.span6 span.left {margin-left: 70px; overflow: none;}
.right {float: right;}
.align-left{float: left; margin: 0px 20px 20px 0px;}
.align-right{float: right; margin: 0px 0px 20px 20px;}

.color-bg { background:#d8450b; }
.color { color:#d8450b; }
.color-bar-1, .color-bar-2, .navbar-fixed-top{ width:100%; z-index: 9999; position: fixed; top: 0;}
.color-bar-1 { background:#414141; height:4px;}
.color-bar-2 { height:4px;  margin-top: 4px;}
.page-header { margin:0px }
.lead {line-height:28px; margin: 20px 0px 30px 0px; }

#toTop {
	width:47px;
	height:47px;
	background:url(../img/back-top-btn.png) no-repeat;
	text-align:center;
	position:fixed;
	bottom:80px;
	right:20px;
	cursor:pointer;
	display:none;
	text-indent:-9999px;
	z-index:12; 
}

/***** Lightbox *****/
#lightbox-image-details-caption {
	font-family: 'Roboto Condensed', sans-serif; 
	font-weight: normal;
	text-transform:uppercase;
	font-size: 14px;
}
#lightbox-secNav-btnClose {width: 30px; padding-bottom: 0;}
#lightbox-image-details-currentNumber {display: none; visibility: hidden;}

/***** Testimonials *****/
.quote-text { 
	font-size:16px; 
	line-height:24px; 
	font-family:Georgia, "Times New Roman", Times, serif; 
	font-style:italic;
	margin:0px 20px; }
.quote-text cite { 
	font-size:12px; 
	color:#999;
	display:block;
	margin-top:5px; }

#clientCarousel.carousel .item {
	background: #f9f9f9;
	padding:20px 0px;
    -webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
    left: 0 !important;
  }
#clientCarousel.carousel .next.left, .carousel .prev.right {
    opacity: 1;
    z-index: 1;
  }
#clientCarousel.carousel .active.left, .carousel .active.right {
    opacity: 0;
    z-index: 2;
  }

/***** Client Logos *****/
.client-link { 
	display: block; 
	width: 100px; 
	height: 100px;
	position: relative;
}
.client-mask {
	display: block;
	width: 100px; 
	height: 100px;
	position: absolute;
	background: url(../img/rnd-client-mask.png);
}
.client-logos {margin: 20px 0px 0px 0px;}
.client-logos li {list-style: none; float: left; margin: 0px 7px;}

/* Small Monitor */
@media (min-width: 980px) and (max-width: 1199px) {
	.client-logos li:first-child {display: none;}
}
/* Portrait tablet */
@media (min-width: 768px) and (max-width: 979px) {
	.client-logos li:nth-last-child(-n+2) {display: none;}
}

/***** Features Page (these can be deleted)*****/
.the-grid div {
	background: #e4e4e4; 
	padding:10px 0px; 
	text-align: center;
}
.form-examples input { margin-bottom: 10px;}
.the-icons {list-style: none; margin-left: 0;}
.the-icons li {float: left; width: 25%; line-height: 25px;}

/* Mobile Portrait Size to Tablet Portrait Size */
@media only screen and  (max-width: 767px) {
	.the-icons li {float: none; width: 100%; line-height: 25px;}	
}


.design					{ float: right; width: 350px; font-family: 'Roboto Condensed', Arial, cursive; margin-right: -15px; margin-top: -36px; text-shadow: 1px 1px 0px rgba(255,255,255,0.5);}
.design .design-by 		{ overflow: hidden; line-height: 22px; margin-top: 30px; }
.design .design-by img 	{ float: left; margin-right: 10px; margin-top: 3px; }
.design .design-by .developers a {color: #8d9ca3; text-shadow: 1px 1px 0px rgba(255,255,255,0.5);}
.counter {float: right; margin-right: -240px; margin-top: 20px;}

/* Audio Block */
.album_widgetmeta {
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}

.album_widgetmeta .album-thumb {
  float: left;
  margin-right: 10px;
}

.album_widgetmeta .album-widget-info {
  overflow: hidden;
}

.album-widgetmeta {
  font-size: 11px;
}

.album_widgetmeta .album-widget-info .album-widgetmeta span {
  display: block;
  font-weight: normal;
}

.album-widget ul {
  margin: 0px 0 15px 0;
  list-style-type: decimal-leading-zero;
}

.album-playlist li {
  position: relative;
  line-height: 26px;
  padding: 8px 40px;
  font-size: 14px;
  background: #f0f0f0;
  margin-bottom: 1px;
  margin-left: 0px;
  list-style: outside none none;
  overflow: hidden;
}

.album-playlist li > a {
  position: absolute;
  display: table;
  left: 5px;
  height: 100%;
  font-size: 14px;
  color: #444444;
  text-decoration: none;
  outline: none;
  z-index: 1;
  width: 26px;
}

/* New Play Animated Icon
================================================= */
.ivaplay {
	display: table-cell;
	border-radius: 50px;
	height: 26px;
	margin: 0 auto;
	vertical-align: middle;
	background:url('../img/play.png') no-repeat scroll center center transparent;
}

.selected .ivaplay {
	background:url('../img/playing.gif') no-repeat scroll center center transparent;
}
/*------------------------------------------------*/

.tracks{ font-weight: 400; margin: 15px 0 5px 0; display: block;}
.label_space { height: 30px; position: relative; display: block; clear: both;}
.demo-space { height: 20px; position: relative; display: block; clear: both;}
#single-player-meta,
.single-player-meta { display:none; }
.more-labels { 
	background-color: #eeeeee;
	padding: 30px 0 0 0;
	}

.more-labels .fancy-title {
	font-size:16px;
}

.more-labels:before,
.more-labels:after {
	clear:both;
	content:"";
	display:table;
}

.buttons-wrap { margin:10px 0; }

.arts_name {
    font-size: 14px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.fap-my-playlist {
  margin-left: -40px;
  left: 0px;
  position: relative;
}

.banner {
	margin-top: 20px;
	text-align: center;
}

.banner-text {
position: relative;
  z-index: 9999;
  background: #000;
  margin-top: -120px;
  height: 120px;
  opacity: 0.8;
}

.banner-text .banner-text-title {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	font-size: 28px;
	text-transform: uppercase;
	line-height: 30px;
}

.banner-text .banner-text-introtext {
	padding: 0 20px;
	font-size: 14px;
	font-weight: italic;
	text-transform: uppercase;
	line-height: 16px;
	color: #fff;
}

.modal-margin {
	margin-top: 70px;
}

.panel {padding: 20px; width: 320px; background: #eeeeee; border: #282828 2px solid; z-index: 9999;}

/* Icons */
.icon-glass {
  background-position: 0      0;
}

.icon-music {
  background-position: -24px 0;
}

.icon-search {
  background-position: -48px 0;
}

.icon-envelope {
  background-position: -72px 0;
}

.icon-heart {
  background-position: -96px 0;
}

.icon-star {
  background-position: -120px 0;
}

.icon-star-empty {
  background-position: -144px 0;
}

.icon-user {
  background-position: -168px 0;
}

.icon-film {
  background-position: -192px 0;
}

.icon-th-large {
  background-position: -216px 0;
}

.icon-th {
  background-position: -240px 0;
}

.icon-th-list {
  background-position: -264px 0;
}

.icon-ok {
  background-position: -288px 0;
}

.icon-remove {
  background-position: -312px 0;
}

.icon-zoom-in {
  background-position: -336px 0;
}

.icon-zoom-out {
  background-position: -360px 0;
}

.icon-off {
  background-position: -384px 0;
}

.icon-signal {
  background-position: -408px 0;
}

.icon-cog {
  background-position: -432px 0;
}

.icon-trash {
  background-position: -456px 0;
}

.icon-home {
  background-position: 0 -24px;
}

.icon-file {
  background-position: -24px -24px;
}

.icon-time {
  background-position: -48px -24px;
}

.icon-road {
  background-position: -72px -24px;
}

.icon-download-alt {
  background-position: -96px -24px;
}

.icon-download {
  background-position: -120px -24px;
}

.icon-upload {
  background-position: -144px -24px;
}

.icon-inbox {
  background-position: -168px -24px;
}

.icon-play-circle {
  background-position: -192px -24px;
}

.icon-repeat {
  background-position: -216px -24px;
}

.icon-refresh {
  background-position: -240px -24px;
}

.icon-list-alt {
  background-position: -264px -24px;
}

.icon-lock {
  background-position: -287px -24px;
}

.icon-flag {
  background-position: -312px -24px;
}

.icon-headphones {
  background-position: -336px -24px;
}

.icon-volume-off {
  background-position: -360px -24px;
}

.icon-volume-down {
  background-position: -384px -24px;
}

.icon-volume-up {
  background-position: -408px -24px;
}

.icon-qrcode {
  background-position: -432px -24px;
}

.icon-barcode {
  background-position: -456px -24px;
}

.icon-tag {
  background-position: 0 -48px;
}

.icon-tags {
  background-position: -25px -48px;
}

.icon-book {
  background-position: -48px -48px;
}

.icon-bookmark {
  background-position: -72px -48px;
}

.icon-print {
  background-position: -96px -48px;
}

.icon-camera {
  background-position: -120px -48px;
}

.icon-font {
  background-position: -144px -48px;
}

.icon-bold {
  background-position: -167px -48px;
}

.icon-italic {
  background-position: -192px -48px;
}

.icon-text-height {
  background-position: -216px -48px;
}

.icon-text-width {
  background-position: -240px -48px;
}

.icon-align-left {
  background-position: -264px -48px;
}

.icon-align-center {
  background-position: -288px -48px;
}

.icon-align-right {
  background-position: -312px -48px;
}

.icon-align-justify {
  background-position: -336px -48px;
}

.icon-list {
  background-position: -360px -48px;
}

.icon-indent-left {
  background-position: -384px -48px;
}

.icon-indent-right {
  background-position: -408px -48px;
}

.icon-facetime-video {
  background-position: -432px -48px;
}

.icon-picture {
  background-position: -456px -48px;
}

.icon-pencil {
  background-position: 0 -72px;
}

.icon-map-marker {
  background-position: -24px -72px;
}

.icon-adjust {
  background-position: -48px -72px;
}

.icon-tint {
  background-position: -72px -72px;
}

.icon-edit {
  background-position: -96px -72px;
}

.icon-share {
  background-position: -120px -72px;
}

.icon-check {
  background-position: -144px -72px;
}

.icon-move {
  background-position: -168px -72px;
}

.icon-step-backward {
  background-position: -192px -72px;
}

.icon-fast-backward {
  background-position: -216px -72px;
}

.icon-backward {
  background-position: -240px -72px;
}

.icon-play {
  background-position: -264px -72px;
}

.icon-pause {
  background-position: -288px -72px;
}

.icon-stop {
  background-position: -312px -72px;
}

.icon-forward {
  background-position: -336px -72px;
}

.icon-fast-forward {
  background-position: -360px -72px;
}

.icon-step-forward {
  background-position: -384px -72px;
}

.icon-eject {
  background-position: -408px -72px;
}

.icon-chevron-left {
  background-position: -432px -72px;
}

.icon-chevron-right {
  background-position: -456px -72px;
}

.icon-plus-sign {
  background-position: 0 -96px;
}

.icon-minus-sign {
  background-position: -24px -96px;
}

.icon-remove-sign {
  background-position: -48px -96px;
}

.icon-ok-sign {
  background-position: -72px -96px;
}

.icon-question-sign {
  background-position: -96px -96px;
}

.icon-info-sign {
  background-position: -120px -96px;
}

.icon-screenshot {
  background-position: -144px -96px;
}

.icon-remove-circle {
  background-position: -168px -96px;
}

.icon-ok-circle {
  background-position: -192px -96px;
}

.icon-ban-circle {
  background-position: -216px -96px;
}

.icon-arrow-left {
  background-position: -240px -96px;
}

.icon-arrow-right {
  background-position: -264px -96px;
}

.icon-arrow-up {
  background-position: -289px -96px;
}

.icon-arrow-down {
  background-position: -312px -96px;
}

.icon-share-alt {
  background-position: -336px -96px;
}

.icon-resize-full {
  background-position: -360px -96px;
}

.icon-resize-small {
  background-position: -384px -96px;
}

.icon-plus {
  background-position: -408px -96px;
}

.icon-minus {
  background-position: -433px -96px;
}

.icon-asterisk {
  background-position: -456px -96px;
}

.icon-exclamation-sign {
  background-position: 0 -120px;
}

.icon-gift {
  background-position: -24px -120px;
}

.icon-leaf {
  background-position: -48px -120px;
}

.icon-fire {
  background-position: -72px -120px;
}

.icon-eye-open {
  background-position: -96px -120px;
}

.icon-eye-close {
  background-position: -120px -120px;
}

.icon-warning-sign {
  background-position: -144px -120px;
}

.icon-plane {
  background-position: -168px -120px;
}

.icon-calendar {
  background-position: -192px -120px;
}

.icon-random {
  width: 16px;
  background-position: -216px -120px;
}

.icon-comment {
  background-position: -240px -120px;
}

.icon-magnet {
  background-position: -264px -120px;
}

.icon-chevron-up {
  background-position: -288px -120px;
}

.icon-chevron-down {
  background-position: -313px -119px;
}

.icon-retweet {
  background-position: -336px -120px;
}

.icon-shopping-cart {
  background-position: -360px -120px;
}

.icon-folder-close {
  background-position: -384px -120px;
}

.icon-folder-open {
  width: 16px;
  background-position: -408px -120px;
}

.icon-resize-vertical {
  background-position: -432px -119px;
}

.icon-resize-horizontal {
  background-position: -456px -118px;
}

.icon-hdd {
  background-position: 0 -144px;
}

.icon-bullhorn {
  background-position: -24px -144px;
}

.icon-bell {
  background-position: -48px -144px;
}

.icon-certificate {
  background-position: -72px -144px;
}

.icon-thumbs-up {
  background-position: -96px -144px;
}

.icon-thumbs-down {
  background-position: -120px -144px;
}

.icon-hand-right {
  background-position: -144px -144px;
}

.icon-hand-left {
  background-position: -168px -144px;
}

.icon-hand-up {
  background-position: -192px -144px;
}

.icon-hand-down {
  background-position: -216px -144px;
}

.icon-circle-arrow-right {
  background-position: -240px -144px;
}

.icon-circle-arrow-left {
  background-position: -264px -144px;
}

.icon-circle-arrow-up {
  background-position: -288px -144px;
}

.icon-circle-arrow-down {
  background-position: -312px -144px;
}

.icon-globe {
  background-position: -336px -144px;
}

.icon-wrench {
  background-position: -360px -144px;
}

.icon-tasks {
  background-position: -384px -144px;
}

.icon-filter {
  background-position: -408px -144px;
}

.icon-briefcase {
  background-position: -432px -144px;
}

.icon-fullscreen {
  background-position: -456px -144px;
}
